html, body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	margin: 0;
	position:fixed;
	overscroll-behavior: none;
	touch-action: none;
	background-color: #e7ffe2;
}

td {
	border: 1px solid black;
}

/*General Menu Styling*/
.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	overflow: auto;
	background-color: #fff8ea;
	z-index: 999; /*Make sure menu shows*/
    display: block; /* Show menu on desktop */
}

.menu.active {
	left: -350px;
}

/* General styling for close button, hidden by default*/
.mobile-menu-close {
    display: none;  /* Hidden by default */
    width: 100%;
    padding: 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

/*Content Style*/
.content {
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 350px;
	right: 0;
	overflow: hidden;
	background-color: #e7ffe2;
	transition: left 0.3s ease; /* Add transition for smooth animation */
}

.content.menu-hidden {
    left: 0; /* Expand to the left */
    right: 0; /* Expand to the right */
}

.menu-hidden #container {
	width: 100%;
}

.menu-hidden #image {
	width: 100%;
}

.menu-hidden #_360canvas {
	width: 100%;
}

/*Styling of menu*/
.menu_default_hidden{
    display: none;
}

.menu_default_visible{
    display: inline-block;
}

/*Content style menu is active*/
.content.active {
	left: 0;
}

.scroll {
	overflow: auto;
}

.vidcontrols {
	position: absolute;
	height: 60px;
	left: 350px;
	right: 0;
	bottom: 0;
	background-color: grey;
	text-align: center;
	overflow: hidden;
}

.vidcontrols.active {
	left: 0;
}

.image_default {
	width: 100%;
	display: none;
	pointer-events: none;
}

.image_default.active {
	display: block;
}

.video_default {
	width: 100%;
	height: 100%;
	display: none;
	pointer-events: none;
}

.video_default.active {
	display: block;
}

.map_default {
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: auto;
}

.map_default.hidden {
	display: none;
	pointer-events: none;
}

.canvas_default {
	width: 100%;
	height: 100%;
	display: block;
	cursor: -webkit-grab;
	cursor: grab;
}

.canvas_default.hidden {
	display: none;
}

.maplibregl-map {
    font: 12px / 20px Helvetica Neue, Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0);
}

#container {
	background-color: #000000;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#progress-bar {
	width: 100px;
	display: inline;
}

#volume {
	width: 50px;
}

#playbackRate {
	width: 50px;
}

.inline.nowrap.player-btn.video-icon {
    white-space: nowrap; /* Keep elements on one line */
    display: inline-block; /* Allows width and height control while staying inline */
    /* You can also add margin/padding for spacing between these elements */
}

.slider {
    display: inline-block; /* Keeps slider inline */
    vertical-align: middle; /* Align slider vertically with label */
}

.canv_slider {
    width: 75px; /* Fixed width for the slider */
    display: inline-block; /* Keeps slider inline */
    vertical-align: middle; /* Align slider vertically with label */
}

#default_x_view_label,
#default_y_view_label,
#default_z_view_label {
    min-width: 5ch; /* Ensure enough space for 5 characters */
    width: auto; /* Allow width to adjust based on content, but not smaller than min-width */
    display: inline-block; /* Crucial: Allows min-width and width to work inline */
    text-align: center; /* Adjust as needed */
    vertical-align: middle; /* Align label vertically with slider */
    margin-left: 5px; /* Space between the slider and label */
}
#pbrate,
#zoom_range_label {
    min-width: 4ch; /* Ensure enough space for 5 characters */
    width: auto; /* Allow width to adjust based on content, but not smaller than min-width */
    display: inline-block; /* Crucial: Allows min-width and width to work inline */
    text-align: center; /* Adjust as needed */
    vertical-align: middle; /* Align label vertically with slider */
    margin-left: 5px; /* Space between the slider and label */
}

#current {
    min-width: 6ch; /* Ensure enough space for 5 characters */
    width: auto; /* Allow width to adjust based on content, but not smaller than min-width */
    display: inline-block; /* Crucial: Allows min-width and width to work inline */
    text-align: right; /* Adjust as needed */
    vertical-align: middle; /* Align label vertically with slider */
    margin-left: 5px; /* Space between the slider and label */
    margin-left: 5px; /* Space between the slider and label */
}

#duration {
    min-width: 6ch; /* Ensure enough space for 5 characters */
    width: auto; /* Allow width to adjust based on content, but not smaller than min-width */
    display: inline-block; /* Crucial: Allows min-width and width to work inline */
    text-align: left; /* Adjust as needed */
    vertical-align: middle; /* Align label vertically with slider */
}

.inline {
	display: inline;
}

.center {
	text-align: center;
}

#projectinfo {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.pidesc {
	background-color: #53ad61;
	font-weight: bold;
	width: 180px;
}

.pitext {
	background-color: #77c984;
}

.nowrap {
  white-space: nowrap;
}

.canvas-menu-icon {
	width: 25px;
	height: 25px;
}

.player-controls {
	vertical-align: middle;
}

.video-icon {
	cursor: pointer;
	background-color: #e7ffe2;
	display: inline-block;
	border-radius: 8px;
	border: 2px solid #4CAF50; /* Green */
}

.video-icon:hover {
	 background-color: #5CAF50;
}

.video-button {
	width: 40px;
	height 40px;
}

.hide-button {
	width: 30px;
	height: 30px;
}

#controls {
	bottom: 0;
	left: 0;
	right: 10px;
	position: absolute;

}

#controls.hidden {
	display: none;
}

.all_controls {
	position: relative;
}

.all_controls.hidden {
	display: none;
}
.view_controls {
	position: relative;
}

.view_controls.hidden {
	display: none;
}

.file_controls {
	position: relative;
}

.file_controls.hidden {
	display: none;
}

.canvas_center {
  position:absolute;
  margin-left:-50px;
	margin: 45vh auto 0;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.canv_msg {
	display: block;
	cursor: pointer;
	text-align: center;
  background: rgba(0,0,0,0.4);
	color: #fff;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.canv_thumb {
	width:320px;
	height:180px;
}

.canv_text {
	display: inline-block;
	background: rgba(0,0,0,0.4);
	color: #fff;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;	
}

.canv_slider {
	width: 75px;
}

ul {
	display: none;
}

.ul_open {
	display: block;
}

.li_open {
	display: list-item;
}

.php-file-tree {
	font-size: 20px;
	line-height: 1.5;
	background-color: #fff8ea;
	display: block;
}

.php-file-tree A {
	color: #000000;
	text-decoration: none;
}

.php-file-tree A:hover {
	color: #666666;
}

.php-file-tree .open {
	font-style: italic;
}

.php-file-tree .closed {
	font-style: normal;
}

.php-file-tree .pft-directory {
	list-style-image: url(images/directory.png);
 color: #000000;
}

.php-file-tree LI.pft-directory:hover {
 color: #666666; /* Change the text color on hover */
 cursor: pointer; /* Change the cursor to a pointer */
}

/* Menu File Types */
.php-file-tree LI.pft-home {
 list-style-image: url(images/home-16.png);
}

.php-file-tree LI.pft-file {
 list-style-image: url(images/file.png);
}

.php-file-tree LI.ext-mpd {
 list-style-image: url(images/film.png);
}

.bt-menu-trigger {
	float:left;
	display: inline;
	font-size: 20px;
	position: relative;
	width: 2em;
	height: 2em;
	cursor: pointer;
	margin-left: 2px;
	margin-top: 2px;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	background-color: #000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}


.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger.bt-menu-alt span:before {
	-webkit-transform: translateY(-0.5em);
	transform: translateY(-0.5em);
}

.bt-menu-trigger.bt-menu-alt span:after {
	-webkit-transform: translateY(0.5em);
	transform: translateY(0.5em);
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
}

.menu_default_hidden{
 display: none;
}

.menu_default_visible{
 display: inline-block;
}

/* Mobile Menu Toggle Button (Hamburger Icon) */
.mobile-menu-toggle {
 position: fixed;
 top: 10px;
 left: 10px;
 background: none;
 border: none;
 cursor: pointer;
 padding: 10px;
 z-index: 1001; /* Ensure on top of the menu */
 display: none; /* Hidden by default on larger screens */
}

.mobile-menu-toggle span {
 display: block;
 width: 25px;
 height: 3px;
 background-color: #000; /* Hamburger icon color */
 margin: 5px 0;
 transition: all 0.3s ease-in-out;
}

#soundVolumeContainer {
  position: relative;
  display: inline-block; /* Allows hover to work on the container */
}

#soundVolumeContainer #volume {
  position: absolute;
  bottom: 100%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%); /* Center the slider */
  width: 100px; /* Adjust width as needed */
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Required for opacity transition to work correctly in some browsers */
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

#soundVolumeContainer:hover #volume {
  opacity: 1; /* Show on hover */
  visibility: visible;
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 1024px) {

 /* Mobile Styles - Menu Hidden by Default */
 .mobile-menu-container #menu {
  display: none; /* Hide the menu on mobile by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  background-color: #fff8ea; /* Keep same background color */
  overflow-y: auto;
  z-index: 1000; /* Ensure on top */
 }

 .menu {
  position: fixed; /* Change to fixed */
  top: 0;
  left: -300px; /* Hide off-screen by default */
  width: 300px; /* Match mobile menu width */
  height: 100%;
  background-color: #fff8ea;
  overflow-y: auto;
  z-index: 1000;
  transition: left 0.3s ease; /* Smooth transition */

  /* Reset styles */
  display: none;
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
 }

 .menu.active {
  left: 0; /* Slide in when active */
 }


 .content {
  left: 0; /* Start at 0 on mobile */
  transition: left 0.3s ease; /* Transition animation */
  position: relative;
  top: 60px; /*Increase to provide text more spacing*/
  height: calc(100% - 60px); /*Ensure content takes up all space minus 60px*/
 }

 .mobile-menu-toggle {
  display: block;
  padding: 15px; /*Increase padding */
 }

 /* Hides the burger menu when the menu is open */
 .mobile-menu-container.menu-open .mobile-menu-toggle {
  display: none;
 }

 .mobile-menu-container {
  position: relative;
 }

 /* Show the menu on the smaller screens */
 .mobile-menu-container.menu-open #menu {
  display: block;
 }

 /* The overlay when the menu is active, the user can click this overlay to close the menu */
 .mobile-menu-container.menu-open .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Below the menu but above other content */
 }

 /*Show the close menu button*/
 .mobile-menu-close {
  display: block; /* Show the menu on mobile screens */
 }

  /* Hide iconShowHideMenu on smaller screens */
  #iconShowHideMenu {
   display: none; /* Hide the button on mobile */
  }

  .canv_thumb {
    width:160px;
    height:90px;
  }
}

@media (max-height: 650px) {
	.canv_thumb {
		width:80px;
		height:45px;
	}
	
	.canvas_center {
		margin: 35vh auto 0;
	}
}

@media (max-height: 400px) {
	.canv_thumb {
		width:0px;
		height:0px;
	}
	
	.canvas_center {
		margin: 30vh auto 0;
	}
}


.php-file-tree LI.pft-directory {
 list-style-image: url(images/directory.png);
 color: #000000;
}

.php-file-tree LI.pft-directory:hover {
 color: #666666; /* Change the text color on hover */
 cursor: pointer; /* Change the cursor to a pointer */
}

/* Menu File Types */
.php-file-tree LI.pft-home {
 list-style-image: url(images/home-16.png);
}

.php-file-tree LI.pft-file {
 list-style-image: url(images/file.png);
}

.php-file-tree LI.ext-mpd {
 list-style-image: url(images/film.png);
}

.php-file-tree LI.ext-m3u8 {
 list-style-image: url(images/film.png);
}
