html, body {
	height: 100%;
	width: 100%;
	font-family: sans-serif;
	margin: 0;
	position:fixed;﻿
	overscroll-behavior: none;
	touch-action: none;
}

td {
	border: 1px solid black;
}

.menu {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 350px;
	overflow: scroll;
	background-color: #fff8ea;
}

.menu.active {
	left: -350px;
}

.content {
	position: absolute;
	top: 0;
	bottom: 140px;
	left: 350px;
	right: 0;
	overflow: hidden;
	background-color: #e7ffe2
}

.content.active {
	left: 0;
}

.vidcontrols {
	position: absolute;
	height: 140px;
	left: 350px;
	right: 0;
	bottom: 0;
	background-color: grey;
	text-align: center;
	overflow: hidden;
}

.vidcontrols.active {
	left: 0;
}

video {
	width: 0px;
	height: 0px;
}

#container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#progress-bar {
	width: 150px;
	display: inline;
}

#volume {
	width: 50px;
}

#playbackRate {
	width: 50px;
}

.inline  {
	display: inline;
}

.center {
	text-align: center;
}

#projectinfo {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.pidesc {
	background-color: #53ad61;
	font-weight: bold;
	width: 180px;
}

.pitext {
	background-color: #77c984;
}

.nowrap {
   white-space: nowrap;
}

.player-controls {
	vertical-align: middle;
}

.video-icon {
	cursor: pointer;
	background-color: #e7ffe2;
	display: inline-block;
	border-radius: 8px;
	border: 2px solid #4CAF50; /* Green */
}

.video-icon:hover  {
	  background-color: #5CAF50;
}

.video-button {
	width: 40px;
	height 40px
}

#controls {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.php-file-tree {
	font-size: 20px;
	line-height: 1.5;
	background-color: #fff8ea
}

.php-file-tree A {
	color: #000000;
	text-decoration: none;
}

.php-file-tree A:hover {
	color: #666666;
}

.php-file-tree .open {
	font-style: italic;
}

.php-file-tree .closed {
	font-style: normal;
}

.php-file-tree .pft-directory {
	list-style-image: url(images/directory.png);
}

/* Menu File Types */
.php-file-tree LI.pft-home { list-style-image: url(images/home-16.png); }
.php-file-tree LI.pft-file { list-style-image: url(images/file.png); }
.php-file-tree LI.ext-mpd { list-style-image: url(images/film.png); }

.bt-menu-trigger {
	float:left;
	display: inline;
	font-size: 20px;
	position: relative;
	width: 2em;
	height: 2em;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 40px;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 0.2em;
	margin-top: -0.1em;
	background-color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}


.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger.bt-menu-alt span:before {
	-webkit-transform: translateY(-0.5em);
	transform: translateY(-0.5em);
}

.bt-menu-trigger.bt-menu-alt span:after {
	-webkit-transform: translateY(0.5em);
	transform: translateY(0.5em);
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
	.vidcontrols {
		left: 0;
	}

	.vidcontrols.active {
		left: 300px;
	}

	.menu {
		left: -350px;
		width: 300px;
	}

	.menu.active {
		left: 0;
		width: 300px;
	}

	.content {
		left: 0;
	}

	.content.active {
		left: 300px;
	}   

	.bt-menu-trigger span:before {
		-webkit-transform: translateY(-0.5em);
		transform: translateY(-0.5em);
	}

	.bt-menu-trigger span:after {
		-webkit-transform: translateY(0.5em);
		transform: translateY(0.5em);
	}

	.bt-menu-trigger.bt-menu-alt span:before {
		-webkit-transform: translateY(-0.36em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
		transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
	}

	.bt-menu-trigger.bt-menu-alt span:after {
		-webkit-transform: translateY(0.36em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
		transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
	}
}